/* Add this to your stylel.css file */

/* Background Styling */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

/* Form Container Styling */
.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f7f7f7;
  background-image: linear-gradient( -135deg, #054c7c, #1e3bd0);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Form Content Styling */
.signup-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Form Styling */
.signup-form {
  flex: 1;
  padding-right: 40px;
}

.signup-image {
  flex: 1;
  text-align: center;
}

/* Form Title Styling */
.form-title {
  font-size: 24px;
  margin-bottom: 20px;
  color: #271f72;
}

/* Form Field Styling */
.form-group {
  margin-bottom: 20px;
}

label {
  font-size: 18px;
  color: #271f72;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.agree-term {
  margin-right: 5px;
}

.label-agree-term {
  font-size: 14px;
}

.form-submit {
  background-color: #271f72;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-submit:hover {
  background-color: #1a144e;
}

/* Error and Success Message Styling */
#usernameExistsMessage,
.text-success {
  font-size: 18px;
  margin-top: 10px;
}

/* Links Styling */
.signup-image-link {
  display: block;
  margin-top: 10px;
  color: #271f72;
  font-size: 16px;
}

.signup-image-link:hover {
  text-decoration: underline;
}


.form-submit:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.signup-image {
  text-align: center;
  margin-top: 20px;
}

.signup-image img {
  max-width: 100%;
}

.signup-image-link {
  display: inline-block;
  margin-top: 10px;
  color: #333;
  text-decoration: none;
  transition: color 0.3s;
}

.signup-image-link:hover {
  color: #271f72;
}
.login100-form-title {
  font-family: Poppins-Bold;
  font-size: 24px;
  color: #020202;
  line-height: 1.2;
  text-align: center;

  width: 100%;
  display: block;
  padding-bottom: 54px;
}

