

<html>
<title>Talabalar turar joyi murojaatlari</title>
<link href="/static/images/logo.png" rel="icon">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="/static/css/style2.css" rel="stylesheet">
<body>
<header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

        <a href="#" class="logo d-flex align-items-center">
            <img src="/static/images/nammqilogo.png" alt="">

        </a>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" th:href="@{/basic}">Bosh sahifa</a></li>
                <li><a class="nav-link scrollto" href="#" target="_blank">Yotoqxona haqida to'liq ma'lumot</a></li>
                <li><a class="nav-link scrollto active" href="#counts">Murojaatlar statistikasi</a></li>
                <li><a class="nav-link scrollto active" th:href="@{logout}">Chiqish</a></li>
                <li><a class="getstarted scrollto" href="https://nammqi.uz/">nammqi.uz</a></li>
                <!--        <li><a class="" href="#">O'zbek tili </a></li>-->





            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->


    </div>
</header><!-- End Header -->
<section class="breadcrumbs">
    <div class="container">

        <ol>
            <li><a href="#">Bosh sahifa</a></li>
            <li>Ariza holati</li>
        </ol>
\
        <!--      <div class="container" style="margin-left: 600px">-->
        <!--        <div class="d-grid gap-1 col-8 ">-->
        <!--          <a class="btn btn-success" type="button" th:href="@{/login}">Kirish</a>-->
        <!--          <a class="btn btn-primary" type="button" th:href="@{/registration}">Ro'yxatdan o'tish</a>-->
        <!--        </div>-->
        <!--      </div>-->

    </div>
</section>
<div class="container py-5">
    <div class="row">
        <div class="col">

        </div>
    </div>


    <div class="container my-2">
        <h1 class="font-monospace " >Foydalanuvchi ariza holati</h1>


        <br>

        <h2 class="font-monospace text-center text-danger">Sizda hali ariza mavjud emas!</h2>
        </table>
    </div>

</div>
</div>
</div>
<footer id="footer" class="footer">


    <div class="footer-top">
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-5 col-md-12 footer-info">
                    <a target="_blank" href="https://buxdu.uz" class="logo d-flex align-items-center">
                        <img src="/static/images/nammqilogo.png" alt="nammqi">
                        <span>NamMQI</span>
                    </a>

                    <div class="social-links mt-3">
                        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                        <a href="https://www.facebook.com/nammqi/" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="https://t.me/NamMQI_rasmiy" class="telegram"><i class="bi bi-telegram "></i></a>
                        <a href="#" class="linkedin"><i class="bi bi-linkedin bx bxl-linkedin"></i></a>
                    </div>
                </div>

                <div class="col-lg-2 col-6 footer-links">
                    <h4>Onlayn ariza to'ldirish</h4>
                    <ul>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Vakant lavozimlarga ariza berish</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Akademik ta'tilga chiqish uchun ariza berish</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Talabalar turar joyiga ariza berish</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Talabalik haqida ma'lumotnoma olish</a></li>
                    </ul>
                </div>


                <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                    <h4>Manzil</h4>
                    <p>
                        Namangan  shahar  <br>
                        Islom Karimov ko`chasi 11-uy.<br><br>
                        <strong>Tel:</strong> +998 (65) 221-27-14<br>
                        <strong>Email:</strong> nammqi@gmil.com<br>
                    </p>

                </div>

            </div>
        </div>
    </div>

</footer><!-- End Footer -->
</body>
<script src="/static/js/main2.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
