
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Talabalar turar joyi murojaatlari</title>
    <link href="/static/images/logo.png" rel="icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ro'yxatdan O'tish</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="/static/fonts/material-icon/css/material-design-iconic-font.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <!-- Main css -->
    <link rel="stylesheet" href="/static/css/stylel.css">
    <style>
    .custom-loader {
        /* ... boshqa stil attributlari ... */
        animation: spin 2s linear infinite;
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }



    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
>
    </style>
</head>
<body>
<div class="main">

    <!-- Sign up form -->
    <section class="signup">
        <div class="container">
            <div class="signup-content">
                <div class="signup-form">
                    <h3 class="form-title fw-bold" style="color: #271f72 ">Ro'yxatdan O'tish  Sahifasi </h3>
                    <div th:if="${param.success}">
<!--                        <div class="text-success">Tabriklaymiz! Siz Tizimga Muvaffaqiyatli Ro'yxatdan o'tdingiz</div>-->
                       <h2> <p class="text-success">Tabriklaymiz! Siz Tizimga Muvaffaqiyatli Ro'yxatdan o'tdingiz</p> </h2>
                    </div>
                    <div th:if="${param.error}">
                        <!--                        <div class="text-success">Tabriklaymiz! Siz Tizimga Muvaffaqiyatli Ro'yxatdan o'tdingiz</div>-->
                        <h2> <p class="text-success">Username allaqachon bor</p> </h2>
                    </div>
                    <form th:action="@{/registration}" th:method="post" th:object="${user}" id="userRegistrationForm" enctype="multipart/form-data">
                        <!-- Inside your existing form -->
                        <!-- Inside your existing form -->
                        <div class="form-group">
                            <i class="zmdi zmdi-account-box"></i> &nbsp;<label  style="font-weight: bold; color: #3a1050;"> Ism</label>
                            <input type="text" name="firstname" th:field="*{firstname}" placeholder="Ismingizni kiriting" />
                        </div>

                        <div class="form-group">
                            <i class="zmdi zmdi-account-box"></i>&nbsp;<label  style="font-weight: bold; color: #3a1050;"> Familiya</label>
                            <input type="text" name="lastname" th:field="*{lastname}" placeholder="Familiyangizni kiriting" />
                        </div>

                        <div class="form-group">
                            <i class="zmdi zmdi-phone"></i>&nbsp;<label  style="font-weight: bold; color: #3a1050;"> Telefon raqami</label>
                            <input type="text" name="phoneNumber" th:field="*{phoneNumber}" placeholder="Tefon raqamingiz kiriting" />
                        </div>

                        <div class="form-group">
                            <i class="zmdi zmdi-account"></i>&nbsp;<label style="font-weight: bold; color: #3a1050;">Login</label>
                            <input type="text" id="email" name="email" required onblur="checkEmail()" placeholder="Kirish uchun pochta manzilingizni kiriting" />
                            <span id="emailExistsMessage" style="display: none; color: red;">Bu Login allaqachon mavjud</span>
                        </div>

                        <div class="form-group">
                            <i class="zmdi zmdi-lock"></i>&nbsp;<label  style="font-weight: bold; color: #3a1050;"> Parol</label>
                            <input type="password" name="password" th:field="*{password}" id="pass" placeholder="Parol kiriting" />
                        </div>

                        <div class="form-group">
                            <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                            <label for="agree-term" class="label-agree-term">
                                <span><span></span></span>Men barcha bayonotlarga qo'shilaman
                                <a href="#" class="term-service">Xizmat ko'rsatish shartlari</a>
                            </label>
                        </div>

                        <div class="form-group form-button">
                            <input type="submit" name="signup" id="submit-btn" class="form-submit" value="Register"/>
                        </div>
                    </form>
                </div>
                <div class="signup-image">
                    <figure><img src="/static/images/logo.png" alt="sing up image"></figure>
                    <span class="login100-form-title"> NamMQI Talabalar turar joyiga online ariza yuborish tizimiga ro'yxatdan o'tish</span>
                    <a th:href="@{/login}" style="color: green" class="signup-image-link">Tizimga kirish</a>
                    <a class="signup-image-link">Allaqachon ro'yxatdan o'tganman</a>

                    <a  th:href="@{/}" class="signup-image-link">Bosh Sahifaga qaytish</a>
                </div>
            </div>
        </div>
    </section>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.18/dist/sweetalert2.all.min.js"></script>


<!-- ... Sizning HTML kodlaringiz ... -->

<script>

    function checkEmail() {
        const email = document.getElementById('email').value;

        fetch('/registration/check-email/' + email)
            .then(response => {
                if (!response.ok) {
                    response.text().then(errorMessage => {
                        showErrorMessage(errorMessage);
                    });
                } else {
                    hideErrorMessage();
                }
            })
            .catch(error => {
                console.error(error);
            });
    }

    function showErrorMessage(errorMessage) {
        document.getElementById('emailExistsMessage').style.display = 'block';
        document.getElementById('emailExistsMessage').innerText = errorMessage;
    }

    function hideErrorMessage() {
        document.getElementById('emailExistsMessage').style.display = 'none';
    }
    // JavaScript kodi

    document.addEventListener("DOMContentLoaded", function () {
        const submitButton = document.getElementById("submit-btn");

        submitButton.addEventListener("click", async function (event) {
            event.preventDefault();

            const agreeCheckbox = document.getElementById("agree-term");
            if (!agreeCheckbox.checked) {
                Swal.fire({
                    title: "Xizmat shartlarini qabul qilmadingiz!",
                    text: "Barcha bayonotlarga rozi emassiz.",
                    icon: "error"
                });
                return;
            }

            const loadingMessage = Swal.fire({
                title: "Iltimos, kuting...",
                icon: "info",
                showConfirmButton: false,
                allowOutsideClick: false,
                onBeforeOpen: () => {
                    Swal.showLoading();
                }
            });

            try {
                const formElement = document.getElementById("userRegistrationForm");
                const formData = new FormData(formElement);

                const response = await fetch("/registration", {
                    method: "POST",
                    body: formData
                });

                const data = await response.json();

                loadingMessage.close();

                if (data.success) {
                    Swal.fire({
                        title: "Siz muvaffaqiyatli hisob yaratdingiz!",
                        text: "Login va parolingiz eslab qo'ling. Ular orqali tizimga kirishingiz mumkin",
                        icon: "success"
                    }).then((result) => {
                        if (result.isConfirmed) {
                            window.location.href = "/login";
                        }
                    });
                } else {
                    Swal.fire({
                        title: "Xatolik yuz berdi!",
                        text: "Mazkur xatolik sababli hisob yaratib bo'lmadi.",
                        icon: "error"
                    });
                }
            } catch (error) {
                console.error("Error:", error);
            }
        });
    });











</script>

<!-- ... Sizning HTML kodlaringiz ... -->




<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/js/main.js"></script>
</body>
</html>


