
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ro'yxatdan O'tish</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="/static/fonts/material-icon/css/material-design-iconic-font.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <!-- Main css -->
    <link rel="stylesheet" href="/static/css/stylel.css">
</head>
<body>

<div class="main">

    <!-- Sign up form -->
    <section class="signup">
        <div class="container">
            <div class="signup-content">
                <div class="signup-form">
                    <h3 class="form-title fw-bold" style="color: #271f72 ">Ro'yxatdan O'tish  Sahifasi </h3>
                    <div th:if="${param.success}">
<!--                        <div class="text-success">Tabriklaymiz! Siz Tizimga Muvaffaqiyatli Ro'yxatdan o'tdingiz</div>-->
                       <h2> <p class="text-success">Tabriklaymiz! Siz Tizimga Muvaffaqiyatli Ro'yxatdan o'tdingiz</p> </h2>
                    </div>
                    <div th:if="${param.error}">
                        <!--                        <div class="text-success">Tabriklaymiz! Siz Tizimga Muvaffaqiyatli Ro'yxatdan o'tdingiz</div>-->
                        <h2> <p class="text-success">Username allaqachon bor</p> </h2>
                    </div>
                    <form th:action="@{/registration}" th:method="post" th:object="${user}" id="userRegistrationForm" enctype="multipart/form-data">
                        <div class="form-group">
                            <label ><i class="zmdi zmdi-account material-icons-name"></i></label>
                            <input type="text" name="firstname"  th:field="*{firstname}"  placeholder="Ismingiz"/>
                        </div>
                        <div class="form-group">
                            <label ><i class="zmdi zmdi-account material-icons-name"></i></label>
                            <input type="text" name="lastname"  th:field="*{lastname}"  placeholder="Familiyangiz"/>
                        </div>
                        <div class="form-group">
                            <label><i class="zmdi zmdi-email"></i></label>
                            <input type="text" name="phoneNumber" th:field="*{phoneNumber}"  placeholder="Tefon raqamingiz kiriting "/>
                        </div>
                        <div class="form-group">
                            <label><i class="zmdi zmdi-email"></i></label>
                            <input type="text" th:field="*{email}" id="email" name="email" required onblur="checkUsername()">
                            <span id="usernameExistsMessage" style="display: none; color: red;">Bu Login allaqachon mavjud</span>
                        </div>
                        <div class="form-group">
                            <label><i class="zmdi zmdi-lock"></i></label>
                            <input type="password" name="password"  th:field="*{password}"  id="pass" placeholder="Password"/>
                        </div>

                        <div class="form-group">
                            <input type="checkbox" name="agree-term" id="agree-term" class="agree-term" />
                            <label for="agree-term" class="label-agree-term"><span><span></span></span>Men barcha bayonotlarga qo'shilaman  <a href="#" class="term-service">Xizmat ko'rsatish shartlari</a></label>
                        </div>
                        <div class="form-group form-button">
                            <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
                        </div>
                    </form>
                </div>
                <div class="signup-image">
                    <figure><img src="/static/images/signup-image.jpg" alt="sing up image"></figure>
                    <a th:href="@{/login}" class="signup-image-link">Men allaqachon ro'yxatdan o'tganman</a>
                    <a  th:href="@{/}" class="signup-image-link">Bosh Sahifaga qaytish</a>
                </div>
            </div>
        </div>
    </section>
</div>

<script>
    function checkUsername() {
        const email = document.getElementById('email').value;
        fetch('/api/check-email/' + email)
            .then(response => {
                if (response.ok) {
                    document.getElementById('usernameExistsMessage').style.display = 'none';
                } else {
                    document.getElementById('usernameExistsMessage').style.display = 'block';
                }
            })
            .catch(error => {
                console.error(error);
            });
    }
</script>


<script src="/static/vendor/jquery/jquery.min.js"></script>
<script src="/static/js/main.js"></script>
</body>
</html>


