
<!-- CSS -->
<html>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="/static/css/style2.css" rel="stylesheet">


<body>
<header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

        <a href="#" class="logo d-flex align-items-center">
            <img src="/static/images/nammqilogo.png" alt="">

        </a>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" th:href="@{/basic}">Bosh sahifa</a></li>
                <li><a class="nav-link scrollto" href="#" target="_blank">Yotoqxona haqida to'liq ma'lumot</a></li>
                <li><a class="nav-link scrollto active" href="#counts">Murojaatlar statistikasi</a></li>
                <li><a class="nav-link scrollto active" th:href="@{logout}">Chiqish</a></li>
                <li><a class="getstarted scrollto" href="https://nammqi.uz/">nammqi.uz</a></li>
                <!--        <li><a class="" href="#">O'zbek tili </a></li>-->
                <li>
<!--                    <div class="dropdown">-->
<!--                        <br>-->
<!--                        &lt;!&ndash;            <span class="badge badge-pill btn-primary ">O'z</span>&ndash;&gt;-->
<!--                        <a class="dropdown-toggle" href="#" id="Dropdown" role="button" data-mdb-toggle="dropdown" aria-expanded="false">-->
<!--                            <span class="badge badge-pill btn-primary ">O'z</span>-->
<!--                            <i class="flag-united-kingdom flag m-0"></i>-->
<!--                        </a>-->


<!--                        <ul class="dropdown-menu" aria-labelledby="Dropdown">-->
<!--                            <li>-->
<!--                                <a class="dropdown-item" href="#"><i class="flag-united-kingdom flag"></i>O'zbek tili <i class="fa fa-check text-success ms-2"></i></a>-->
<!--                            </li>-->
<!--                            <li><hr class="dropdown-divider" /></li>-->

<!--                            <li>-->
<!--                                <a class="dropdown-item" href="#"><i class="flag-france flag"></i>English</a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a class="dropdown-item" href="#"><i class="flag-russia flag"></i>Русский</a>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </li>-->




            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->


    </div>
</header><!-- End Header -->
<section class="breadcrumbs">
    <div class="container">

        <ol>
            <li><a href="#">Bosh sahifa</a></li>
            <li>Talabalar turar joyiga ariza berish</li>
        </ol>
        <h2>Menning Kabinetim </h2>

        <!--      <div class="container" style="margin-left: 600px">-->
        <!--        <div class="d-grid gap-1 col-8 ">-->
        <!--          <a class="btn btn-success" type="button" th:href="@{/login}">Kirish</a>-->
        <!--          <a class="btn btn-primary" type="button" th:href="@{/registration}">Ro'yxatdan o'tish</a>-->
        <!--        </div>-->
        <!--      </div>-->

    </div>
</section>
<!-- HTML -->
<div class="container">
    <br>
    <h2 style="margin-right: 40%">Mening Amallarim </h2>
    <div class="row d-flex justify-content-around">
        <div class="col-md-4">
            <div class="card">

                <img class="card-img-top" src="/static/images/apply.jpg" alt="Card image cap">

                <div class="card-body">
                    <h5 class="card-text">Mening ma'lumotlarim</h5>
                    <p class="card-title">O'zingiz haqidagi ma'lumotlarni bilishingiz mumkin </p>
                    <form method="post" ></form>
<!--                    <a href="/userinfo" class="btn btn-primary"> O'tish </a>-->
                    <a th:href="@{/user/info/}" class="btn btn-primary"> O'tish </a>
<!--                                        th:href="@{'/users/delete/'+${combinedData.user != null ? combinedData.user.id : ''}}"-->
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="/static/images/userinfo.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-text">Ariza yuborish</h5>
                    <p class="card-title">O'zingizni qiynayotgan muammolaringiz shikoyat tarziga yuborishingiz mumkin</p>
                    <a th:href="@{showNewAppForm}" class="btn btn-primary">O'tish</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="/static/images/Jan42.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-text">Ariza holati  </h5>
                    <p class="card-title"> Sizning shu davrgacha bo'lgan muvaffaqiyatli jarayonlaringiz</p>
                    <a th:href="@{showUserApp}" class="btn btn-primary">O'tish</a>
                </div>
            </div>
        </div>
<!--        <div class="col-md-4">-->
<!--            <div class="card">-->
<!--                <img class="card-img-top" src="/static/images/message.jpg" alt="Card image cap">-->
<!--                <div class="card-body">-->
<!--                    <h5 class="card-title">Xabarlar </h5>-->
<!--                    <p class="card-text"> Sizning shu davrgacha bo'lgan muvaffaqiyatli jarayonlaringiz</p>-->
<!--                    <a th:href="@{/messages/{id}(id=${session.userId})}" class="btn btn-primary">O'tish</a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->


    </div>
</div>
<footer id="footer" class="footer">


    <div class="footer-top">
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-5 col-md-12 footer-info">
                    <a target="_blank" href="https://buxdu.uz" class="logo d-flex align-items-center">
                        <img src="/static/images/nammqilogo.png" alt="nammqi">

                    </a>

                    <div class="social-links mt-3">
                        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                        <a href="https://www.facebook.com/nammqi/" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="https://t.me/NamMQI_rasmiy" class="telegram"><i class="bi bi-telegram "></i></a>
                        <a href="#" class="linkedin"><i class="bi bi-linkedin bx bxl-linkedin"></i></a>
                    </div>
                </div>

                <div class="col-lg-2 col-6 footer-links">
                    <h4>Onlayn ariza to'ldirish</h4>
                    <ul>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Vakant lavozimlarga ariza berish</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Akademik ta'tilga chiqish uchun ariza berish</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Talabalar turar joyiga ariza berish</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#">Talabalik haqida ma'lumotnoma olish</a></li>
                    </ul>
                </div>


                <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                    <h4>Manzil</h4>
                    <p>
                        Namangan  shahar  <br>
                        Islom Karimov ko`chasi 11-uy.<br><br>
                        <strong>Tel:</strong> +998 (65) 221-27-14<br>
                        <strong>Email:</strong> nammqi@gmil.com<br>
                    </p>

                </div>

            </div>
        </div>
    </div>

</footer><!-- End Footer -->

</body>
<script src="/static/js/main2.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>